name: CI

on:
  push:
    paths:
      - "src/**"
      - "tests/**"
      - "CMakeLists.txt"
      - ".github/**"
  pull_request:
    paths:
      - "src/**"
      - "tests/**"
      - "CMakeLists.txt"
      - ".github/**"

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: lukka/get-cmake@latest
      - uses: rui314/setup-mold@v1
      - run: |
          cmake -B build -DCMAKE_BUILD_TYPE=Release
      - run: |
          make -C build -j unit_test
          make -C build -j integration_tests
